p#text {
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 350px;
  margin: 0;
  padding: .4em .5em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  font-style: italic;
  border: 3px solid var(--card-border);
  box-shadow: .2em .2em .4em var(--card-shadow), 0 0 .5em .3em var(--card-inset) inset;
}

.card-in {
    animation: text-appear 2s ease-out 1;
}
.card-out {
    animation: text-disappear 0.5s ease-out 0.2s 1 forwards;
}

@keyframes text-appear {
    0%{
        visibility: visible;
        opacity: 0;
        transform: scale(0.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes text-disappear {
    0%{
        visibility: visible;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0.1);
        visibility: hidden;
    }
}