:root {
  --bg-color1: #ffc33f;
  --bg-color2: #ff7c00;
  --card-color: #38bad2;
  --card-border: #01758a;
  --card-shadow: rgba(89, 89, 89, .7);
  --card-inset: rgba(89, 89, 89, .4);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, var(--bg-color1), var(--bg-color2));
}

body {
  min-height: 97vh;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
